################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/API_Application/FileContentIndex/8263d4f8-76b7-494d-b046-1d5f16460fd6.vsidx
/.vs/API_Application/FileContentIndex/3aaaaed0-6c5d-4b1c-b66e-b3e9cc152530.vsidx
/.vs/API_Application/FileContentIndex/73498d95-e7ab-4700-a6f9-30d0851c4093.vsidx
/.vs/API_Application/FileContentIndex/99df0d17-e994-404c-80d9-c9c3eecd5c1d.vsidx
/.vs/API_Application/FileContentIndex/5e40ba23-6790-470f-8121-aec042e77876.vsidx
/.vs/API_Application/FileContentIndex
